:root {
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body {
    padding: 0;
    margin: 0;
    height: 100vh;
}

.app {
    background-color: white;
    color: rgba(0, 0, 0, 0.8);
}

.app-header {
    font-weight: 400;
    font-size: 24px;
    padding: 8px 16px;
    margin: 0;
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.app-main {
    padding: 8px 16px 32px 16px;
}

.info-text {
    font-size: 20px;
    margin-top: 8px;
}

.section-title {
    margin: 0;
    font-size: 16px;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.7);
}

.ripple {
    background-position: center;
    transition: background 0.8s;
}

.ripple:hover {
    background: #47a7f5 radial-gradient(circle, transparent 1%, #47a7f5 1%) center/15000%;
}

.ripple:active {
    background-color: #6eb9f7;
    background-size: 100%;
    transition: background 0s;
}

.button {
    flex: 1 1 auto;
    margin-top: 8px;
    border: none;
    border-radius: 2px;
    padding: 12px 18px;
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;
    color: white;
    background-color: #2196f3;
    box-shadow: 0 0 4px #999;
    outline: none;
}

.timer-form-section,
.enable-light-buttons-section {
    margin-top: 32px;
}

.enable-light-buttons {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.timer-form {
    display: grid;
    grid-template-columns: 32px 1fr;
    grid-column-gap: 8px;
    grid-template-areas: "l1 i1" "l2 i2" "b b";
}

.timer-label-start {
    grid-area: l1;
}

.timer-label-stop {
    grid-area: l2;
}

.timer-input-start {
    grid-area: i1;
}

.timer-input-stop {
    grid-area: i2;
}

.timer-apply-button {
    grid-area: b;
}

.timer-label {
    font-size: 20px;
    margin-top: 12px;
}

.timer-input {
    width: auto;
    margin-top: 8px;
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.report-table {
    width: 100%;
    margin: 32px 0px 10px;
}

.report-xls-url {
    display: block;
    text-align: center;
    text-decoration: none;
}

@media (min-width: 400px) {
    .enable-light-buttons .button {
        max-width: 45vw;
    }

    .timer-form {
        grid-template-columns: 32px 1fr calc(10vw - 48px) 32px 1fr;
        grid-template-areas: "l1 i1 . l2 i2" "b b b b b";
    }
}

@media (min-width: 600px) {
    body {
        height: 100vh;
        overflow: auto;
        background: linear-gradient(#388E3C 120px, #C8E6C9 120px);
        background-attachment: fixed;
    }

    .app {
        width: 600px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 2px;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        transform: translateY(64px);
    }

    .app-header {
        font-size: 32px;
    }

    .enable-light-buttons .button {
        max-width: 264px;
    }

    .timer-form {
        grid-template-columns: 32px 220px 1fr 32px 220px;
        grid-template-areas: "l1 i1 . l2 i2" "b b b b b";
    }
}
